/dist
node_modules
src/.dist_js
.idea
.DS_Store
src/.rev
/gulpfile.js
/webpack.config.js
*.swp
/*.tar*
deploy.test.sh
deploy.document.sh
/mock/data
/mock/data/*
.happypack
www
/www
*.log
/tmp
tmp
/.vscode
.vscode
.webpack_cache
diff
nohup*
package-lock.json
webpack.plugin.*.js
/data
data
fonts.*
.eslintcache
theme
